// colors
$white                  : #FFFFFF;
$black                  : #242424;
$blue                   : #1976d2;
$gray                   : rgba(0,0,0,0.75);
$green                  : #2e7d32;
$orange                 : #ed6c02;
$red                    : #d32f2f;

// transition
$fast                   : .2s;
$normal                 : .5s;


// breakpoints
$screen-bg-max          : 1919px;
$screen-md-max          : 1600px;
$screen-mac-max         : 1300px;
$screen-sm-max          : 799px;
$screen-small           : 374px;
$screen-ipad-pro        : 1023px;
$screen-bg-min          : 1920px;

